/* .file-button input{
  background: none;
  color: pink;
} */

input[type="file"] {
  display: none;
}

.btn-floating.halfway-fab {
  position: fixed;
  right: 75px;
  top: 280px
}

/* .label-teste {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
} */